.counter {
    width: fit-content;
    background-color: rgba(158, 202, 244, 0.906);
    margin: auto;
    padding: 1rem;
    text-align: center;


}

.boton {
    margin-left: 1rem;
    margin-right: 1rem;
}

.carrito {
    margin-top: 1rem;
}